#payment_form_gene_braintree_creditcard .form-list, #payment_form_gene_braintree_paypal .form-list {
    margin-top: 10px;
}

#payment_form_gene_braintree_creditcard > label, #payment_form_gene_braintree_paypal > label {
    float: none;
}

#creditcard-saved-accounts td, #paypal-saved-accounts td {
    vertical-align: middle;
}

#creditcard-saved-accounts label[for="other-creditcard"], #paypal-saved-accounts label[for="other-paypal"] {
    margin: 0;
    padding-top: 4px;
    line-height: 46px;
}

#paypal-complete, #paypal-container {
    height: 44px;
}

#paypal-container, #paypal-label {
    float: right;
}

#paypal-label {
    margin-right: 12px;
    line-height: 44px;
    font-size: 1.4em;
    font-weight: bold;
}
